:root {
  --btn-color: #d9b679;
  --btn-text-color: #222;
  --heading-color: #222;
}

[data-theme="dark"] {
  --heading-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  min-height: 500px;
  padding: 20px 15px;
  margin: 60px auto 0;
  max-width: 1400px;
  width: 100%;
  height: auto;
}

.colorModeContainer {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero {
  max-width: 200px;
}

.label {
  background: linear-gradient(to right, #fddde6, #ffe6fa);
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  width: fit-content;
}

.labelText {
  color: #e91e63;
  font-weight: 500;
  font-size: 20px;
}

.subHeading {
  font-size: 5rem;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 0.5rem;
}

.colorMode {
  position: absolute;
  right: 10px;
  width: 25px;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.container span {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container span a img {
  width: 40px;
}

.container a {
  width: fit-content;
}

.description {
  max-width: 25ch;
  text-align: center;
  font-size: 30px;
}

.container button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.container button:hover {
  transform: scale(1.05);
}

.container button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

/* Responsif */
@media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 30px;
  }

  .colorModeContainer {
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .hero {
    max-width: 350px;
    width: 350px;
    margin-top: -200px;
  }

  .info {
    align-items: flex-start;
    text-align: left;
  }

  .description {
    text-align: left;
  }

  .container span {
    justify-content: flex-start;
  }
}

@media (min-width: 1400px) {
  .container {
    gap: 80px;
    padding: 50px 50px;
  }

  .hero {
    max-width: 400px;
    width: 400px;
  }
}
