.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  min-height: 500px;
  padding: 20px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.colorModeContainer {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero {
  max-width: 200px;
}

.colorMode {
  position: absolute;
  right: 10px;
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.container span {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container span a {
  margin: 0;
}

.container span a img {
  width: 30px;
}

.container a {
  width: fit-content;
}

.description {
  max-width: 24ch;
  text-align: center; /* Tetap tengah di mobile */
}

.container button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.container button:hover {
  transform: scale(1.05);
}

.container button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 30px;
  }

  .colorModeContainer {
    margin-right: 0;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .hero {
    max-width: 350px;
    width: 350px;
  }

  .info {
    align-items: flex-start; /* Semua elemen rata kiri di layar besar */
    text-align: left; /* Teks rata kiri di layar besar */
  }

  .description {
    text-align: left; /* Secara khusus memastikan deskripsi rata kiri di layar besar */
    margin-left: 0; /* Menghapus margin yang mungkin memengaruhi perataan */
  }

  .container span {
    justify-content: flex-start; /* Ikon media sosial rata kiri di layar besar */
  }
}

@media (min-width: 1400px) {
  .container {
    gap: 80px;
    padding: 50px 50px;
  }

  .hero {
    max-width: 400px;
    width: 400px;
  }
}
